@import 'reset';
@import 'fonts';
@import 'palette';
@import 'themes/dark';
@import 'themes/light';

.app {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
