@import 'reset';
@import 'fonts';
@import 'palette';
@import 'animation';
@import 'sizes';
@import 'themes/dark';
@import 'themes/light';

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-color: var(--background-color-1);
  color: var(--text-color-1);
  font-family: var(--font-family);
}

.highlight {
  color: var(--color-highlight);
}
