.button {
  padding: var(--gap-1) var(--gap-2);
  border: 1px solid var(--border-color-1);
  background-color: transparent;
  color: var(--text-color-1);
  font-size: var(--gap-2);
  cursor: pointer;

  &:hover {
    background-color: var(--background-color-4);
  }
}
