$header-height: 72px;
$footer-height: 112px;
$nav-width: 320px;

.layout {
  display: grid;
  grid-template-rows: $header-height 1fr $footer-height;
  grid-template-columns: $nav-width 1fr;
  height: 100vh;

  .header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .nav {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    overflow: scroll;
  }

  .main {
    overflow: scroll;
  }

  .footer {
    grid-row: 3 / 3;
    grid-column: 2 / 3;
  }
}
