.app.dark {
  --background-color-1: #19191c;
  --background-color-2: #1f1f21;
  --background-color-3: #252528;
  --background-color-4: #303033;
  --text-color-1: #ffffff;
  --text-color-2: #ffffff;
  --border-color-1: #474749;
}
